<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Eucossa"
        android:allowBackup="true"
        android:appCategory="social"
        android:banner="@drawable/logo_eucossa_github_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:isGame="false"
        android:label="@string/app_name"
        android:manageSpaceActivity=".activities.StorageManager"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eucossa"
        tools:targetApi="31" >
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StorageManager"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>